#mission-section {
    background-color: white;
    padding: 50px 50px;
}

.mission-title {
    margin-left: 80px;
    margin: 0 0 0 calc(100% - 70vw);
}

.step-items {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.step-item {
    width: 300px;
    margin: 0 40px;
}

.video-container {
    width: 65%;
    margin: auto;
    margin-bottom: 100px;
}