.email-form {
    width: 100%;
    margin: 15px;
}

.email-input {
    font-size: 15px;
    padding: 0px 10px;
    margin: 3px;
    height: 35px;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.email-input:hover {
    background-color: #Ccccca;
    border-color: #7dcece;
}

.email-input:focus {
    background-color: #caeff0;
}

.emailtext-input {
    padding: 10px 10px;
    margin: 3px;
    height: 150px;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    font-family: "DIN Next Light", sans-serif !important;
    font-size: 15px;
    resize: none;
}

.emailtext-input:hover {
    background-color: #Ccccca;
    border-color: #7dcece;
}

.emailtext-input:focus {
    background-color: #caeff0;
}

.submit-btn {
    position: relative;
    left: 35px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    float: right;
    transition-duration: 0.2s;
}