#SEAnnouncement-section {
    text-align: left;
}

#SEAnnouncement-main {
}

#SEAnnouncement-main > * {
    margin-bottom: 75px;
}


.title-se {
    font-family: "DIN Next Light", sans-serif;
    font-weight: lighter;
    font-size: 88px;
    text-align: left;
}