.se-page-line {
    background-color: white;
    color: white;
    width: 270px;
    height: 4px;
    border: none;
}

#software-intern-page {
    margin: 0 calc((100% - 980px) * 0.5);
}

.title-se {
    font-family: "DIN Next Light", sans-serif;
    font-weight: lighter;
    font-size: 88px;
    text-align: left;
}

.a-link {
    text-decoration: underline;
}