.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box {

}

.info-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.info-heading img {
    height: 60px;
    margin: 10px;
}

.info-desc {
    text-align: left;
}