@font-face
{
    font-family: "DIN Next Light";
    src: url("assets/fonts/dinLight.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Light";
    src: url("assets/fonts/avenirLt35Light.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Heavy";
    src: url("assets/fonts/avenirLt85Heavy.woff") format("woff");
}

@font-face
{
    font-family: "Neue Helvetica Light";
    src: url("assets/fonts/neueHelvetica45Light.woff") format("woff");
}

@font-face
{
    font-family: "Helvetica Roman";
    src: url("assets/fonts/helveticaRoman.woff") format("woff");
}

.title {
    color: #646666;
    font-family: "DIN Next Light", sans-serif;
    font-size: 80px;
    text-align: center;
    padding-left: 140px;
    font-weight: lighter;
    position: relative;
    right: 360px;
    margin-bottom: 10px;
}

p {
    color: #585856;
    font-size: 20px;
}

.white-text {
    color: white;
}

.grey-text {
    color: #585856;
}
