@font-face
{
    font-family: "DIN Next Light";
    src: url("assets/fonts/dinLight.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Light";
    src: url("assets/fonts/avenirLt35Light.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Heavy";
    src: url("assets/fonts/avenirLt85Heavy.woff") format("woff");
}

@font-face
{
    font-family: "Neue Helvetica Light";
    src: url("assets/fonts/neueHelvetica45Light.woff") format("woff");
}

@font-face
{
    font-family: "Helvetica Roman";
    src: url("assets/fonts/helveticaRoman.woff") format("woff");
}

html {
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: "DIN Next Light", sans-serif;
    color: white;
    text-align: center;
    min-height: 100vh !important;
}

p {
    line-height: 1.5em;
}

a {
    color: white;
    text-decoration: none;
}

#header {
    height: 166px;
}

#main-content {
    min-height: calc(100vh - 566px); /* 166px header + 400px footer = 566px  */
}

#footer {
    height: 400px;
}

.title {
    font-family: "DIN Next Light", sans-serif;
    font-weight: lighter;
    font-size: 88px;
    text-align: left;
    margin: 0 0 0 calc(100% - 70vw);
}

.title-se {
    font-family: "DIN Next Light", sans-serif;
    font-weight: lighter;
    font-size: 88px;
    text-align: left;
}

/* Sizes */

.size-58 {
    font-size: 58px;
}

.size-42 {
    font-size: 42px;
}

.size-36 {
    font-size: 36px;
}

.size-24 {
    font-size: 24px;
}

.size-21 {
    font-size: 21px;
}

.size-18 {
    font-size: 18px;
}

.size-14 {
    font-size: 14px;
}

.bolder {
    font-weight: bolder;
}

/* Colors */

.grey-1 {
    color: #646666;
}

.grey-2 {
    color: #ccccca;
}

.blue-1 {
    color: #0099FF;
}

.blue-2 {
    color: #3bb1ff;
}

/* Links */

.link-active {
    color: #A2ECF3;
}

.link {
    transition: 0.2s;
}

.link:hover {
    color: #A2ECF3;
}