#banner-section {
    font-weight: bold;
    font-size: 80px;
    font-family: "DIN Next Light", sans-serif;
    line-height: 1em;
    text-align: left;
    height: 430px;
    margin: 80px 0px 80px calc((100% - 950px) * 0.5);
}